@font-face {
  font-family: "Futura-book";
  font-display: swap;
  src: url("../fonts/futurabookc.woff") format("woff"), url("../fonts/futurabookc.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  font-display: swap;
  src: url("../fonts/Cormorant-Medium.woff") format("woff"), url("../fonts/Cormorant-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura-medium";
  font-display: swap;
  src: url("../fonts/futuramediumc.woff") format("woff"), url("../fonts/futuramediumc.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura-demi";
  font-display: swap;
  src: url("../fonts/futurademic.woff") format("woff"), url("../fonts/futurademic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}