.hidden {
  visibility: hidden;
}

strong {
  font-weight: bold;
}

a {
  > svg > circle {
    transition: filter 0.2s;
  }

  &:hover > svg > circle {
    filter: drop-shadow(0px 0px 10px var(--link));
  }
}

.title {
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--font-secondary);
  color: var(--link);
  margin-bottom: 1.875rem;
}

.flex {
  display: flex;
}

.background-image {
  position: absolute;
  z-index: -1;
  user-select: none;
}

.swiper-pagination-bullet {
  background: var(--link-clicked);
}

.swiper-pagination-bullet-active {
  background: var(--link);
}

.button {
  font-family: var(--font-fourthary);
  font-size: 1.375rem;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.875rem 6.875rem;
  cursor: pointer;
  margin: 1em 0;

  &-fill {
    border: none;
    background-color: var(--link);
    color: var(--light);
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 4px var(--link);
    }
  }

  &-outline {
    border: 1px solid var(--link);
    background-color: transparent;
    color: var(--link);
  }
}

div.product-collections__slider {
  overflow: visible;
  padding-bottom: 5em;
  user-select: none;
}

.breadcrumbs {
  margin: 1.25em 0;

  > ul {
    display: flex;

    > li {
      > a {
        color: hsl(var(--dark));
      }

      > span {
        margin: 0 0.5em;
        font-weight: bold;
      }
    }

    > li:nth-last-child(1) {
      > a {
        color: var(--blocked-color);
      }

      > span {
        display: none;
      }
    }
  }
}

.user {
  position: relative;

  &__dropdown {
    position: absolute;
    background-color: hsl(var(--primary-color));
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    top: 60px;
    right: 0;
    overflow: hidden;
    z-index: 99;
    max-height: 0;
    transition: max-height 0.5s;

    > ul {
      padding: 0;
      margin: 1.375em 3.875em;

      > li {
        text-align: left;

        + li {
          margin-top: 0.6875em;
        }

        > a {
          color: hsl(var(--dark));
        }
      }

      > div {
        margin-top: 1.1875em;
        display: flex;

        > a + a {
          margin-left: 0.375em;
        }
      }
    }

    &.open {
      max-height: 100vh;
    }
  }
}

.product {
  display: flex;
  padding: 1.25em 0;

  & + & {
    border-top: 1px solid var(--border-color);
  }

  &:nth-child(1) {
    padding-top: 0;
  }

  &:nth-last-child(1) {
    padding-bottom: 0;
  }

  &__picture {
    margin-right: 0.625em;
  }

  &__content {
    width: 100%;
    position: relative;

    > * {
      font-family: var(--font-primary);
    }

    > header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.9375em;

      > h2 {
        font-size: 1.125rem;
        font-family: var(--font-primary);
        margin-right: 1rem;
      }
    }

    > footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      font-size: 1.125rem;
    }
  }

  &__picture {
    > img {
      width: 161px;

      @media (max-width: 768px) {
        width: 95px;
      }
    }
  }

  &__count {
    > span {
      display: inline-block;
      padding: 0 0.625rem;
      margin: 0 0.625rem;
      line-height: 1.5;
      border-right: 1px solid hsl(var(--dark));
      border-left: 1px solid hsl(var(--dark));
    }

    > button {
      border: none;
      background-color: transparent;
      transition: color 0.2s;

      &:hover {
        color: var(--link);
      }
    }
  }

  &__option {
    position: relative;
    width: 10px;

    > svg {
      margin: 0 auto;
      display: inline;
      cursor: pointer;
    }

    &:hover > ul {
      display: block;
    }

    > ul {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      background-color: var(--link-not-active);
      padding: 0.625em;
      box-shadow: 5px 5px 10px var(--dark-transparent);
      width: 185px;
      z-index: 2;

      > li {
        + li {
          margin-top: 0.625em;
        }

        > button {
          border: none;
          background-color: transparent;
          display: flex;
          align-items: center;

          > svg {
            margin-right: 0.625em;
          }

          > span {
            color: var(--light);
          }
        }
      }
    }
  }

  &__settings {
    > div {
      display: flex;

      + div {
        margin-top: 0.3125em;
      }

      > p {
        font-size: 1.125rem;
        margin-right: 0.27em;
      }
    }
  }

  &__select {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 40%;
      display: block;
      border: 0.3em solid;
      border-color: black transparent transparent;
      transition: all 0.1s ease-out;
    }

    > select {
      border: none;
      background-color: transparent;
      margin-right: 0.625em;
      appearance: none;
    }
  }
}

.radio {
  > input[type="radio"] {
    display: none;
  }

  & input[type="radio"]:checked + label:before {
    background: url(../img/icons/radio-active.svg) 0 0 no-repeat;
  }

  > label {
    position: relative;
    user-select: none;
    margin-left: 1.375em;
    cursor: pointer;

    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: -1.375em;
      background: url(../img/icons/radio.svg) 0 0 no-repeat;
    }
  }
}

.radio-card  {
  display: flex;
  flex-direction: column;
}

.select {
  position: relative;
  height: 2.5rem;
  font-family: var(--font-primary);
  font-size: 1.125rem;

  &[data-state="active"] {
    .select__title {
      &::before {
        transition: transform 0.5s;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .select__content {
      opacity: 1;
      visibility: visible;
    }

    .select__label + .select__input + .select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}
.select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 0.625em;
  border: 1px solid var(--border-color);
  cursor: pointer;

  &::before {
    content: "";
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 0.625em;
    position: absolute;
    border: 0.3rem solid;
    border-color: black transparent transparent;
    transition: transform 0.5s;
  }
}
.select__content {
  position: absolute;
  top: 1.875rem;
  left: 0;
  overflow: auto;
  width: 100%;
  background-color: hsl(var(--primary-color));
  border: 1px solid var(--border-color);
  border-top: none;
  border-bottom-left-radius: 0.625em;
  border-bottom-right-radius: 0.625em;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
  height: 7.5em;
  visibility: hidden;
}
.select__input {
  display: none;

  &:checked + label {
    background-color: #dedede;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5em;
  max-height: 0;
  padding: 0 1em;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;

  & + input + & {
    border-top: 0 solid #c7ccd160;
  }
}
.select__filter {
  background-color: transparent;
  border: 1px solid var(--border-color);
  margin: 0.5em 1em;
  padding: 0.2em;
  font-size: 1rem;
  width: 88%;
}
